/* Remember the cascade: Later styles override earlier ones and more specific styles override more general ones.*/
body {
  color: #444;
  font-family: 'Gentium Book Basic', serif;
  font-size: 16px;
}
p {
  margin-bottom: .67em;
}
nav {
  justify-content: space-around;
  margin: auto;
  text-align: center;
}
nav, footer {
  background-color: #444;
}
footer {
  color: #D0D0D0;
  padding: 1em 0 .3em 0;
  text-align: center;
}
/*-- Main Menu Styles--*/
nav ul {
  list-style: none;
  padding: 1em;
}
nav a:link, nav a:visited {
  color: #D0D0D0;
  text-decoration: none;
}
nav a:hover, nav a:active  {
  color: #F0F0F0;
  text-decoration: underline;
}
nav a.active {
  color: #F0F0F0;
}
/*-- Hero Unit Styles--*/
header {
  margin: 2em auto;
  width: 510px;
}
header img {
  margin: 0 auto;
  width: 100%;
}
header h1 {
  color: black;
  font-size: 36px;
  font-style: italic;
  font-weight: none;
  padding: 0 auto;
  text-align: center;
  text-decoration: none;
}
.dropcap {
  float: left;
  font-family: "Lato", "sans-serif";
  font-size: 300%;
  font-weight: bold;
  line-height: 80%;
  width: 0.7em;
}
.small {
  color: #FF9E3F;
  font-family: "Lato", "sans-serif";
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  margin-top: 1em;
  text-decoration: underline;
  text-transform: uppercase;
}
/*-- Article Styles--*/
article {
  font-size: 18px;
  line-height: 1.3;
  margin: auto;
  width: 768px;
}
article figure {
  float: right;
  margin: 0 0 1.25em 1.25em;
  width: 39%;
}
article figcaption {
  font-family: "Arial", "serif";
  font-size: 9pt;
  font-weight: lighter;
}
.pagination {
  display: flex;
  justify-content: space-around;
  margin: 2em auto;
  width: 96%;
}
a.button {
  border: 1px solid #888;
  border-radius: 200px;
  color: #888;
  font-family: 'Lato', sans-serif;
  font-size: 80%;
  font-weight: 300;
  padding: .4em 1em .4em 1em;
  text-decoration: none;
}
a.button:hover, a.button:active {
  border: 1px solid #444;
  color: #222;
  text-decoration: none;
}
/*-- changes header and article width on small screens --*/
@media screen and (max-width: 768px) {
  header {width: 96%;}
  article {width: 96%;}
}
